*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
}

header{
    min-width: 1200px;
    border-bottom: 4px solid rgba(12, 28, 179, 0.452);
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    width: 100%;
    height: 70px;
    background-color: rgb(5, 138, 190);
}

header > img{
    position: relative;
    width: 180px;
}

#box ul,a{
    text-decoration: none;
    padding-left: 10px;
    font-size: 22px;
    display: inline-block;
    color: midnightblue;
}
.box_1{
    min-width: 1200px;
    padding: 30px;
    width: 100%;
    height: 400px;
    background-image: url(../imagens/fundo-1.jpg);
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;  
    background-repeat: no-repeat; 
    border-bottom:10px solid  rgb(0, 0, 0);;
}


.text > p{
    padding-top: 100px;
    font-size: 60px;
    font-family: "Merienda", Arial, Helvetica, sans-serif;
    color: bisque; 
}
.text > p::after{
    content:"Wesleyana";
    margin-left: 40px;
    display: block;
    font-size: 60px;
    font-family: "Merienda", Arial, Helvetica, sans-serif;
    color: bisque; 

}
.history{
    color:white;
    max-height: 350px;
    text-align: center;
    overflow-y: scroll;
    overflow-x: hidden;
    border-bottom: 5px solid black;
    width: 100%;
    padding: 20px 40px;
    background-color: rgb(20, 55, 100);
}

.texto{
    margin: 0 auto;
    text-align: justify;
    padding: 40px 20px;
    width: 60%;
}

.texto p{
    padding-top: 20px;
    font-family: Tahoma;
    font-size: 20px;
}

.box_3{
    height: 700px;
    width: 100%;
    padding: 20px 40px;
    background-color: cadetblue;
}
